
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   background-color: #2d3436;
}


.container{
    width: 330px;
    overflow: hidden;
    box-shadow: rgba(61, 60, 60, 0.24) 0px 3px 8px;
    border-radius: 10px;
    height: 450px;
    position: relative;
    border: 1px solid #dadada;
   
}
.stories{
    
    z-index: 10;
    height: 15%;
    display: flex;
    background-color: #dadada;
    align-items: center;
    overflow:auto;
    
    padding: 0px 5px;
    gap: 10px;
}
.stories::-webkit-scrollbar{
    display: none;
}

.story{
    min-width: 60px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #A835B1;
    
}

.story img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}
#currStory{
   
   
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    z-index: -1;


}





