@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-color: #1a1919;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

h2{
    font-size: 15vw;
    background: transparent;
    opacity: 0.8;
    text-shadow: 8px 8px black;
    
}

#crsr{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    
    transition:cubic-bezier(0.455, 0.03, 0.515, 0.955);
   
}

